[Desktop Entry]
Encoding=UTF-8
Name=Facebook
Type=Link
URL=http://facebook.com
Icon=/home/addy/.config/tint2/.bookmarks-hd/icons/facebook.png
Exec=firefox -new-tab http://facebook.com
