[Desktop Entry]
Encoding=UTF-8
Name=GitHub
Type=Link
URL=http://github.com
Icon=/home/addy/.config/tint2/.bookmarks/icons/github.png
Exec=firefox -new-tab http://github.com
