[Desktop Entry]
Encoding=UTF-8
Name=Google+
Type=Link
URL=http://plus.google.com
Icon=/home/addy/.config/tint2/.bookmarks/icons/google+.png
Exec=firefox -new-tab http://plus.google.com
